In [5]:
import pandas as pd
# Modelling
from scipy.stats import boxcox
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import (StandardScaler, MinMaxScaler)
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from scipy.stats import iqr
from scipy.stats import scoreatpercentile as pct
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import RFE
import statsmodels.api as sm
from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression

In [3]:
customer_data = pd.read_csv("Data/round_2_cleaned.csv")

In [4]:
customer_data

,st,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,zone
0,arizona,4809.216960,no,basic,college,2/18/11,employed,m,48029,suburban,...,9,corporate auto,corporate l3,offer3,agent,292.800000,four-door car,medsize,NaN,central
1,washington,14947.917300,no,basic,bachelor,2/10/11,employed,m,22139,suburban,...,2,personal auto,personal l3,offer3,call center,480.000000,suv,medsize,a,east
2,oregon,22332.439460,yes,extended,college,1/11/11,employed,m,49078,suburban,...,2,corporate auto,corporate l3,offer2,branch,484.013411,four-door car,medsize,a,north west
3,oregon,9025.067525,no,premium,bachelor,1/17/11,medical leave,f,23675,suburban,...,7,personal auto,personal l2,offer1,branch,707.925645,four-door car,medsize,NaN,north west
4,NaN,4745.181764,NaN,basic,high school or below,2/14/11,employed,m,50549,suburban,...,7,personal auto,personal l3,offer1,agent,292.800000,four-door car,medsize,a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8006,california,3579.023825,no,extended,high school or below,1/24/11,employed,f,28304,suburban,...,1,personal auto,personal l2,offer2,agent,655.200000,four-door car,medsize,a,west region
8007,arizona,2771.663013,no,basic,college,1/7/11,employed,m,59855,suburban,...,1,personal auto,personal l2,offer2,branch,355.200000,two-door car,medsize,a,central
8008,oregon,5259.444853,no,basic,college,1/6/11,employed,f,61146,urban,...,6,personal auto,personal l3,offer2,branch,273.018929,four-door car,medsize,a,north west
8009,arizona,23893.304100,no,extended,bachelor,2/6/11,employed,f,39837,rural,...,2,corporate auto,corporate l3,offer1,web,381.306996,luxury suv,medsize,NaN,central
8010,california,11971.977650,no,premium,college,2/13/11,employed,f,64195,urban,...,6,personal auto,personal l1,offer1,branch,618.288849,suv,medsize,a,west region

In [5]:
numerical = customer_data.select_dtypes("number")

In [6]:
numerical

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,14947.917300,22139,100,34.0,31,0.0,2,480.000000
2,22332.439460,49078,97,10.0,3,0.0,2,484.013411
3,9025.067525,23675,117,NaN,31,NaN,7,707.925645
4,4745.181764,50549,61,2.0,73,0.0,7,292.800000
...,...,...,...,...,...,...,...,...
8006,3579.023825,28304,91,10.0,30,2.0,1,655.200000
8007,2771.663013,59855,74,30.0,82,4.0,1,355.200000
8008,5259.444853,61146,65,7.0,68,0.0,6,273.018929
8009,23893.304100,39837,201,11.0,63,0.0,2,381.306996
8010,11971.977650,64195,158,0.0,27,4.0,6,618.288849

In [7]:
numerical.isna().sum()

customer lifetime value            0
income                             0
monthly premium auto               0
months since last claim          449
months since policy inception      0
number of open complaints        449
number of policies                 0
total claim amount                 0
dtype: int64

In [ ]:
def modelling(df,target,scaler):
    X = df.drop(target,axis = 1)
    y = df.target
    
    X_train, X_test, y_train, y_test=train_test_split(X, y, test_size= 0.3, random_state=0)
    
    X_train_num = X_train._get_numeric_data()
    X_test_num = X_test._get_numeric_data()
    
    scaler.fit(X_train_num)
    scaler.transform(X_train_num)
    scaler.transform(X_test_num)

In [9]:
df = customer_data
df.dropna(inplace=True)
target = "total claim amount"

X = df.drop(target,axis = 1)
y = df[target]

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size= 0.3, random_state=0)

X_train_num = X_train._get_numeric_data()
X_test_num = X_test._get_numeric_data()

scaler = StandardScaler()

scaler.fit(X_train_num)
X_train_scaled = scaler.transform(X_train_num)
X_test_scaled = scaler.transform(X_test_num)

model = LinearRegression()
model.fit(X_train_scaled, y_train)


y_pred_train = model.predict(X_train_scaled)
y_pred = model.predict(X_test_scaled)

R2_train = r2_score(y_train, y_pred_train)
print(R2_train)
RMSE_train = mse(y_train, y_pred_train, squared=False)
print(RMSE_train)
MSE_train = mse(y_train,y_pred_train)
print(MSE_train)
MAE_train = mae(y_train,y_pred_train)
print(MAE_train)

MSE_test = mse(y_test,y_pred)
print(MSE_test)
RMSE_test = mse(y_test,y_pred, squared=False)
print(RMSE_test)
MAE_test = mae(y_test,y_pred)
print(MAE_test)
R2_test = r2_score(y_test,y_pred)
print(R2_test)

0.4505610799499542
194.4936898798183
37827.79540306694
137.73812614709803
32878.51850008491
181.32434613168996
132.876301827797
0.4537202153565507